<section>
<div class="contenido row pt-md-5">
    <h3 class="text-center mb-5">Lugares destacados</h3>
    <div class=" container">
        <div class="row gy-3">
            <div class="col">
                <div class=" card h-100" style="width: 18rem;">
                    <img src="../../../assets/img1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                     <h5 class="card-title">Cartagena</h5>
                     <p class="card-text">Cartagena es una ciudad portuaria en la costa caribeña de Colombia, es un destino popular por sus playas  de arena blanca y palmeras, y a las Islas del Rosario, famosas por sus arrecifes de coral.</p>
                     <a href="#" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                     <img src="../../../assets/img2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                     <h5 class="card-title">Bogota</h5>
                     <p class="card-text">Bogotá es la extensa capital en altura de Colombia. Cuenta con sitios coloniales como el Teatro Colón neoclásico y la Iglesia de San Francisco del siglo XVII. Museos populares como el Museo del Oro.</p>
                     <a href="#" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    <img src="../../../assets/img3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                     <h5 class="card-title">San Andres</h5>
                     <p class="card-text">San Andrés es una isla colombiana del mar Caribe. Es muy conocida por los arrecifes de coral.  La encendida playa Spratt Bight tiene un paseo costero bordeado de palmeras. </p>
                     <a href="#" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
