.container{
    display: grid;
    grid-template-areas:
    'toolbar   toolbar     toolbar     toolbar     toolbar'
    'men       contenido   contenido   contenido   contenido'
    'men       contenido   contenido   contenido   contenido';
}

.grid-menu{
    grid-area: men;
}

.grid-toolbar{
    grid-area: toolbar;
}

.grid-contenido{
    grid-area: contenido;
}