
<div class="container my-5">
    <nav>
        <h3 class="mt-5">Destinos</h3>
        <ul class="nav flex-column mt-5 ">
            <li class="nav-item ">
                <a class="nav-link  " href="#">Chile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Argentina</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Brasil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Colombia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Uruguay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Colombia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">España</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portugal</a>
            </li>
        </ul>
    </nav>
</div>

  
      

  